#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout .site-layout-background {
  background: #fff;
}

.FormItemBtn {
  display: flex;
  justify-content: end;
}

.FormItemBtn .formBtn {
  border-radius: 10px;
  float: right;
}

@media only screen and (max-width: 600px) {
  .site-layout-content {
    width: 100%;
  }
}